[project]
	description = email filter
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhangge208 (zhangge208)
[access "refs/for/refs/*"]
	read = group user/zhangge208 (zhangge208)
	push = group user/zhangge208 (zhangge208)
	label-Code-Review = -2..+2 group user/zhangge208 (zhangge208)
	label-Verified = -1..+1 group user/zhangge208 (zhangge208)
	rebase = group user/zhangge208 (zhangge208)
	removeReviewer = group user/zhangge208 (zhangge208)
	submit = group user/zhangge208 (zhangge208)
[access "refs/heads/*"]
	read = group user/zhangge208 (zhangge208)
	create = group user/zhangge208 (zhangge208)
	push = +force group user/zhangge208 (zhangge208)
	pushMerge = group user/zhangge208 (zhangge208)
[access "refs/tags/*"]
	push = +force group user/zhangge208 (zhangge208)
	pushTag = group user/zhangge208 (zhangge208)
	pushSignedTag = group user/zhangge208 (zhangge208)
